<!DOCTYPE html>
<html>
<head>
  <title>RunningAnalisis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
                             <!-- Header -->
                <header id="header">
                    <div class="container">

                        <div class="row header">

                            <!-- Logo -->
                            <div class="col-xs-2 logo">
                                <a href="home-version1.html">
                                    <%= image_tag("main_logo.png", class: "imagen_logo") %> 
                                </a>
                            </div>
                            <!-- //Logo// -->


                            <!-- Navigation File -->
                            <div class="col-md-10">

                                <!-- Mobile Button Menu -->
                                <div class="mobile-menu-button">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <!-- //Mobile Button Menu// -->




                                <nav>
                                    <ul class="navigation">
                                        <li>
                                            <a href="home-version1.html">
                                                <span class="label-nav">
                                                    Inicio
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="about-us.html">
                                                <span class="label-nav">
                                                    Quienes Somos
                                                </span>
                                                </a>
                                           </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="label-nav">
                                                    Contacto
                                                </span>
                                            </a>
                                            </li>
                                        <li>
                                            
                                    </ul>

                                </nav>

                                <!-- Mobile Nav. Container -->
                                <ul class="mobile-nav">
                                    <li class="responsive-searchbox">
                                        <!-- Responsive Nave -->
                                        <form action="#" method="get">
                                            <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                                            <button class="icon-search"></button>
                                        </form>
                                        <!-- //Responsive Nave// -->
                                    </li>
                                </ul>
                                <!-- //Mobile Nav. Container// -->
                            </div>
                            <!-- Nav -->

                        </div>



                    </div>
                </header>
<%= yield %>

</body>
</html>
